run = "bundle exec rails server --binding=0.0.0.0"
entrypoint = "app/controllers/application_controller.rb"

hidden = [".bundle"]

[packager]
language = "ruby"

[packager.features]
packageSearch = true
guessImports = true

[languages]

[languages.ruby]
pattern = "**/*.rb"

[languages.ruby.languageServer]
start = "solargraph stdio"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "README.md"]

[nix]
channel = "stable-22_05"
